* {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
}

#izquierda {
  width: 30%;
  background-color: #ebcba2;
}
#derecha {
  width: 70%;
  background-color:#222325ea;
  color:white;
}
#izquierda article,
#derecha article {
  margin-top: 20px;
  padding: 40px;
}
h1,
h3,
h4 {
  margin-bottom: 20px;
}
#izquierda h3{

    background-color: aquamarine;
}
#nombre{
    text-align: center;
}

header img{
    margin-top: 30px;
    border-radius: 50px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
    
}#derecha h3{ 
    color:goldenrod;


}
span {
    color:blueviolet;
}

